* {
    margin: 0;
    padding: 0;
}
.flex-container1 {
    display: flex;
    justify-content: center;
    background-color: rgb(32, 44, 28);
    padding: 1.8vh;
    font-size: 1.2rem;            
}
.flex-container1 a {
    color: #eee;
    margin:  0 20px;
    text-decoration: none;
}

.main-section {
    padding: 4vw;
    background-color: rgb(233, 210, 166);
}

h2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.flex-container2 {
    display: flex;
    justify-content: space-around;
}
.main-text {
    padding-top: 2.5rem;
    font-size: 1.2rem;
    text-align: center;
}
.main-text p {
    padding-bottom: 3rem;            
}

.main-text button {
    padding: 0.8rem 3rem;
    border-radius: 0.3rem;
    color: #eee;
    background: red;
    border: 1px;
    font-weight: 600;            
}

.footer-section {
    /*display: flex;
    flex-direction: column;*/
    background: rgb(57, 11, 95);
    padding: 4rem 2rem 2rem;
    text-align: center;
    color: #eee;
    font-size: 1.1rem;
    justify-content: center;
}

.footer-section button {
    padding: 0.8rem 7rem;
    border-radius: 0.5rem;
    color: #eee;
    background: gold;
    border: 1px;
    font-weight: 600;
    margin-top: 2rem;
}